<!-- this is where the books on the user's bookshelf will appear -->
<!-- make sure there is a logout button -->
<!-- also make sure there are remove buttons -->

<!-- BOOKSHELF HEADER -->
	<header>
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner">

				<!-- BOOKSHELF -->
		    <div class="carousel-item active">
		      <div class="container-fluid">
			      <div class="row">
			      	<div class="col-md-2"></div>

			      	<!-- BOOKS -->
			        <div class="col-md-2 col-sm-6 col-xs-12">
			          <button type="button" class="btn icon-btn btn-warning">
									<span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>
								</button>
			          <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 30vh; width: 90%; display: block;" src="https://cdn.pastemagazine.com/www/system/images/photo_albums/greatgatsbycovers/large/photo_16696_0.jpeg?1384968217" data-holder-rendered="true">
			        </div>
			        <div class="col-md-2 col-sm-6 col-xs-12">
			          <button type="button" class="btn icon-btn btn-warning">
									<span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>
								</button>
			          <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 30vh; width: 90%; display: block;" src="https://2982-presscdn-29-70-pagely.netdna-ssl.com/wp-content/uploads/2015/07/To-Kill-a-Mockingbird-Cover-1-186x300.jpg" data-holder-rendered="true">
			        </div>
			        <div class="col-md-2 col-sm-6 col-xs-12">
			          <!-- <button type="button" class="btn icon-btn btn-warning">
									<span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>
								</button>
			          <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 30vh; width: 90%; display: block;" src="http://d28hgpri8am2if.cloudfront.net/tagged_assets/cvr9781471141638/9781471141638_hr.jpg" data-holder-rendered="true"> -->
			        </div>
			        <div class="col-md-2 col-sm-6 col-xs-12">
			          <!-- <button type="button" class="btn icon-btn btn-warning">
									<span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>
								</button>
			          <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 30vh; width: 90%; display: block;" src="http://assets.nydailynews.com/polopoly_fs/1.2662811.1465220292!/img/httpImage/image.jpg_gen/derivatives/article_750/lvorwell7n-1-web.jpg" data-holder-rendered="true"> -->
			        </div>
			        <div class="col-md-2">
								<button class="btn btn-primary">a@b.c / Logout</button>
							</div>	
						</div>
					</div>
			  </div>

			</div>