<!-- 2 RECOMMENDED BOOKS -->
	<div class>
    <div class="row">

    	<!-- FIRST RECOMMENDED BOOK  -->
      <div class="col-md-5 vertical-center-row">
        <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 60vh; width: 100%; display: block;" src="https://images.gr-assets.com/books/1352082529l/37781.jpg" data-holder-rendered="true">
        
				<!-- BOOK NLP DATA -->
        <div class="row">
        	<p>
          	<div class="col-md-4 recommended-book-nlp">
          		<i class="fa fa-meh-o" aria-hidden="true"></i>
          	</div>
          	<div class="col-md-4">
          		<button type="button" class="btn icon-btn btn-success">
								<span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
							</button>
          	</div>
          	<div class="col-md-4 recommended-book-nlp">
          		village
          	</div>
          </p>
        </div>
      </div>

      <!-- BOOK OF ORIGIN -->
      <div class="col-md-2">

        <img alt="<%=book[0].title%>" class="origin-book-img" src="<%=book[0].coverUrl%>" data-holder-rendered="true">
        
        <!-- BOOK NLP DATA -->
        <div class="row">
        	<p>
          	<div class="col-md-4 origin-book-nlp">
          		<i class="fa fa-meh-o" aria-hidden="true"></i>
          	</div>
          	<div class="col-md-8">
              <!-- SHOW THE TOP 5 ENTITIES FROM THE NLP API -->
              <ul class="origin-book-nlp-list">
                <% for(var i = 0; i < 5; i++) { %>
                  <li class="left-align"> <%=book[0].entities[i]%> </li>
                <% } %>
              </ul>
          	</div>
          </p>
        </div>
      </div>

      <!-- SECOND RECOMMENDED BOOK -->
      <div class="col-md-5">
        <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 60vh; width: 100%; display: block;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU_9YYc9UmQTaqOH7dBoSDeC7xsLrSlFecMpOa74Ex-R-Rq2e3" data-holder-rendered="true">
        
				<!-- BOOK NLP DATA -->
        <div class="row">
        	<p>
          	<div class="col-md-4 recommended-book-nlp">
          		<i class="fa fa-meh-o" aria-hidden="true"></i>
          	</div>
          	<div class="col-md-4">
          		<button type="button" class="btn icon-btn btn-success">
								<span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
							</button>
          	</div>
          	<div class="col-md-4 recommended-book-nlp">
          		gentlemen
          	</div>
          </p>
        </div>
      </div>

    </div>
	</div>