<!-- HTML HEADER -->
<% include ./partials/header.ejs %>

		<!-- SITENAME FOR HOMEPAGE -->
		<header>
			<div class="jumbotron jumbotron-fluid">
		  	<div class="container">
		  		<div class="row">
		  			<div class="col-md-10 col-xs-6">
		  				<h1 class="display-1">BookMe</h1>
			    		<p class="lead">Lorizzle gangsta hizzle sizzle shit, my shizz adipiscing elit.</p>
		  			</div>

		  			<!-- SIGNUP/LOGIN OR LOGOUT BUTTON -->
		  			<div class="col-md-2 col-xs-6">
		  				<% if (currentUser) { %>
	              <button class="btn btn-primary">Logout</button>
	            <% } else { %>
	            	<button class="btn btn-primary">Login / Sign Up</button>
	            <% } %>
		  			</div>
		  		</div>
			  </div>
			</div>
		</header>

<% include ./partials/books.ejs %>

<% include ./partials/footer.ejs %>