<!-- HTML HEADER -->
<% include ./partials/header.ejs %>

	<!-- HEADER FOR BOOKSHELF PAGE -->
		<header>
			<div class="jumbotron jumbotron-fluid book-header">
		  	<div class="container">
		  		<div class="row">

		  			<!-- HOME PAGE BUTTON -->
						<div class="col-md-2 col-xs-4">
							<button class="btn btn-default home-page-btn">
								<img alt="BookMe home page button" class="home-btn-img" src="https://d30y9cdsu7xlg0.cloudfront.net/png/3688-200.png">
							</button>
						</div>	

						<!-- BOOKSHELF JUMBOTRON -->
		  			<div class="col-md-8 col-xs-6 bookshelf-title">
		  				<h2><%=user[0].local.email%>'s BOOKME bookshelf:</h2>
		  			</div>

		  			<!-- SIGNUP/LOGIN OR LOGOUT BUTTON -->
		        <div class="col-md-2">
	  				<% if (currentUser) { %>
	  					<a href="/logout">
	              <button class="btn btn-default">
	              	Logout
              	</button>
              </a>
              <% if (currentUser.admin === true) { %>
              	<a href="/new">
	              <button class="btn btn-info admin-btn">
	              	Admin
              	</button>
              </a>
              <% } %>
            <% } else { %>
            	<a href="/signup">
            		<button class="btn btn-default">
            			Sign Up
            		</button>
            	</a>
          		<a href="/login">
          			<button class="btn btn-default">
          				Login
          			</button>
          		</a>
            <% } %>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  </header>

<% include ./partials/bookshelf.ejs %>

<% include ./partials/footer.ejs %>