<% include ./partials/header.ejs %>

		<!-- HEADER FOR BOOK RECOMMENDATION PAGE -->
		<header>
			<div class="jumbotron jumbotron-fluid book-header">
		  	<div class="container">
		  		<div class="row">

						<!-- HOME PAGE BUTTON -->
						<div class="col-md-2 col-xs-4">
							<button class="btn btn-default home-page-btn">
								<img alt="BookMe home page button" class="home-btn-img" src="https://d30y9cdsu7xlg0.cloudfront.net/png/3688-200.png">
							</button>
						</div>	
						
						<!-- RECOMMENDATION JUMBOTRON -->
		  			<div class="col-md-8 col-xs-4 recommendation-title">
		  				<h2 class="">BookMe Recommends:</h2>
		  			</div>
	  			
		  			<!-- SIGNUP/LOGIN OR LOGOUT BUTTON -->
		  			<div class="col-md-2 col-xs-4">
		  				<% if (currentUser) { %>
		  					<a href="/logout">
		              <button class="btn btn-default">
		              	Logout
	              	</button>
	              </a>
	            <% } else { %>
	            	<a href="/signup">
	            		<button class="btn btn-default">
	            			Sign Up
	            		</button>
	            	</a>
            		<a href="/login">
            			<button class="btn btn-default">
            				Login
            			</button>
            		</a>
	            <% } %>
		  			</div>
				  </div>
				</div>
			</div>
		</header>

<% include ./partials/recommendation.ejs %>

<% include ./partials/footer.ejs %>