<h1>testing the Sentiment API</h1>

<ul> 
    <li>
        Sentiment Magnitude: 
        <%= sentimentBody.magnitude %>
    </li>
    <li>
        Sentiment Score:
        <%= sentimentBody.score %>
    </li>
</ul>
