/* ALL THE STYLES */

* {
	/*text-align: center;*/
}

@font-face {
	font-family: 'Powell Antique';
	src: url('fonts/PowellAntique.ttf') format('ttf');
}

/* HOME PAGE STYLES */

.book-me-title {
	font-family: 'Powell Antique', serif;
	color: #EDE3B9;
}

.book-header {
	background-color: #241415;
}

/* SIGNUP AND LOGIN STYLES */
.signup-form, .login-form {
	color: #EDE3B9;
	background-color: #241415;
	padding: 10%;
}

.signup-title, .login-title {
	font-family: 'Powell Antique', serif;
}

/* RECOMMENDATION STYLES */

.book-btn {
	border: none;
}

.book-img {
	display: block;
	height: 25vh;
	width: 100%;
}

.invisible {
  visibility: hidden;
  font-size: 3px;
}

.home-btn-img {
	height: 50%;
	width: 50%;
}

.origin-book-img {
	display: block;
	height: 25vh;
	width: 100%;
}

.recommended-book-img {
	display: block;
	height: 60vh;
	width: 100%;
}

.recommendation-title {
	font-family: 'Powell Antique', serif;
	color: #EDE3B9;
	font-size: 300px;
	text-align: center;
}

.center {
	text-align: center;
}

 /* BOOKSHELF STYLES */

.bookshelf-title {
	font-family: 'Powell Antique', serif;
	color: #EDE3B9;
	/*font-size: 300px;*/
	text-align: center;
}

.bookshelf-background {
	background-image: url('../images/shelf.jpg');
	/*background-size: cover;*/
}

.books-in-bookshelf {
	text-align: center;
}

.btn-glyphicon {
  padding: 5px;
  background: #ffffff;
}

.icon-btn {
  padding: 3px;
  border-radius: 50px;
}

/* ADMIN STYLES */

.new-book-title {
	background-color: #241415;
	color: #EDE3B9;
	font-family: 'Powell Antique', serif;
	margin: 1% 0;
	padding: 1%;
	text-align: center;
	/*font-size: 24px;*/
}

.new-book {
	color: #241415;
}

.add-book-img {
	height: 80vh;
}

.add-book-form {
	color: #EDE3B9;
	background-color: #241415;
	padding: 5%;
}

.add-book-title {
	font-family: 'Powell Antique', serif;
}

.form-control {
	text-align: left;
}

.edit-book {
	margin: 1% 0;
}

.edit-book-img {
	height: 30vh;
	/*style="height: 50vh; width: 100%; display: block;" */
}

.edit-book-form {
	color: #EDE3B9;
	background-color: #241415;
	padding: 5%;
}

.edit-book-title {
	font-family: 'Powell Antique', serif;
}

.left-align {
	text-align: left;
}

.saved-book-title {
	font-weight: bold;
	font-family: 'Powell Antique', serif;
	font-size: 24px;
}

.control-label {
	font-size: 14px;
}

.admin-buttons {
	padding: 2%;
	text-align: center;
}