/* ALL THE STYLES */

* {
	text-align: center;
}

/* HOME PAGE STYLES */

.book-img {
	display: block;
	height: 50vh;
	width: 100%;
}

.invisible {
  visibility: hidden;
  font-size: 3px;
}

/* RECOMMENDATION STYLES */

.recommended-book-nlp {
	font-size: 30px;
}

.origin-book-nlp {
	font-size: 12px;
}

.origin-book-nlp-list {
	list-style: none;
	text-align: left;
	padding-left: 0;
}

.origin-book-img {
	display: block;
	height: 25vh;
	width: 100%;
}

.recommended-book-img {
	display: block;
	height: 60vh;
	width: 100%;
}

 /*BOOKSHELF STYLES */

.carousel-item {
	background-image: url('../wireframes/shelf.jpg');
	background-size: cover;
}

.btn-glyphicon {
  padding: 5px;
  background: #ffffff;
}

.icon-btn {
  padding: 3px;
  border-radius: 50px;
}

.new-book {
	margin: 1% 0;
}

.add-book-img {
	height: 40vh;
}

.form-control {
	text-align: left;
}

.partial-book-display {
	background-color: grey;
}

.edit-book-img {
	height: 40vh;
}

.left-align {
	text-align: left;
}

.edit-book-title {
	font-weight: bold;
}