/* ALL THE STYLES */

* {
	/*text-align: center;*/
	
}

@font-face {
	font-family: 'DaDa Antiquerist';
	src: url('fonts/DaDa Antiquerist.ttf') format('ttf');
}

/*
* {
	color: white;
	font-family: 'Psuedo Saudi', 'Roboto', sans-serif;
	letter-spacing: 8px;
	text-align: center;
}

@font-face {
	font-family: 'Psuedo Saudi';
	src: url('fonts/PSAUDI5.TTF') format('ttf');
}
*/

/* HOME PAGE STYLES */

.book-me-title {
	font-family: 'DaDa Antiquerist', sans-serif;
}

.book-btn {
	border: none;
}

.book-img {
	display: block;
	height: 25vh;
	width: 100%;
}

.invisible {
  visibility: hidden;
  font-size: 3px;
}

/* RECOMMENDATION STYLES */

.home-btn-img {
	height: 50%;
	width: 50%;
}

.origin-book-img {
	display: block;
	height: 25vh;
	width: 100%;
}

.recommended-book-img {
	display: block;
	height: 60vh;
	width: 100%;
}

 /* BOOKSHELF STYLES */

.carousel-item {
	background-image: url('../images/shelf.jpg');
	background-size: cover;
}

.btn-glyphicon {
  padding: 5px;
  background: #ffffff;
}

.icon-btn {
  padding: 3px;
  border-radius: 50px;
}

/* ADMIN STYLES */

.new-book {
	margin: 1% 0;
}

.add-book-img {
	height: 40vh;
}

.form-control {
	text-align: left;
}

.edit-book {
	margin: 1% 0;
}

.edit-book-img {
	height: 40vh;
}

.left-align {
	text-align: left;
}

.edit-book-title {
	font-weight: bold;
}

.control-label {
	font-size: 14px;
}