* {
	text-align: center;
}

.recommended-book-nlp {
	font-size: 30px;
}

.origin-book-nlp {
	font-size: 12px;
}

.origin-book-nlp-list {
	list-style: none;
	text-align: left;
	padding-left: 0;
}

.carousel-item {
	background-image: url('./shelf.jpg');
	background-size: cover;
}

.btn-glyphicon {
  padding: 5px;
  background: #ffffff;
}

.icon-btn {
  padding: 3px;
  border-radius: 50px;
}

.new-book {
	margin: 1% 0;
}

.add-book-img {
	height: 40vh;
}

.form-control {
	text-align: left;
}

.partial-book-display {
	background-color: grey;
}
